*{
	margin: 0 auto;
	padding: 0 auto;
}

body{
	background: rgb(183, 224, 182);
}

.Foto-Menu{
	height: 130px;
	width: 100%;
}

.nav a{
	color: #000;
}

.nav a:hover{
	background-color: #218c20;
	color: #fff;
}